.widget-menu > li > a {
    background-color: #2d2b32;
    color: #767676;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
