<html>
<body style="margin: 0px; background-color: #003f8f;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td align="center" bgcolor="#003f8f" style="padding: 0px 20px;">
                    <table border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0" width="600" class="container">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" width="100%" style="font-family: 'Numans', sans-serif;
									font-size: 12px; line-height: 22px; color: #7f8082; padding: 30px 30px 30px; text-align: justify;">
                                    <span style="color: #7f8082; font-size: 12px">
                                        <b>Ol&aacute; {0},</b>
                                    </span><br /><br />
                                    Bem-vindo ao Portal de Obriga&ccedil;&otilde;es! Estamos felizes em ter voc&ecirc; conosco.<br />
                                    Para ter acesso a todas as funcionalidades que o portal de obriga&ccedil;&otilde;es tem para oferecer basta validar
                                    o seu cadastro clicando no link abaixo.<br /><br />
                                    <div style="word-break: break-all;">
                                        <a href="{1}" style="color: #1a91f9; font-family:'Numans', sans-serif; font-size: 16px;
											font-weight: bold; line-height: 150%; text-align: center; text-decoration: none;">
                                            <b>Confirma&ccedil;&atilde;o da Conta</b>
                                        </a>
                                    </div>
                                    <span style="color: #ff9800; font-size: 12px">
                                        Aten&ccedil;&atilde;o! Se voc&ecirc; n&atilde;o realizou esse cadastro, por favor ignore esse e-mail.<br />
                                    </span>
                                    <br />
                                    Se o Link para Confirma&ccedil;&atilde;o da Conta n&atilde;o for clic&aacute;vel, por favor copie e cole a URL na barra
                                    de endere&ccedil;os do seu navegador.<br /><br />
                                    Obrigado novamente por ter escolhido o Portal de Obriga&ccedil;&otilde;es!<br />
                                    <br />Atenciosamente,<br />
                                    <b>Equipe Portal de Obriga&ccedil;&otilde;es</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>