/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/92.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    font-size: small;
}

.container {
    align-content: center;
}

.card {
    margin-top: 20%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #1a91f9;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.recover_btn {
    color: black;
    background-color: #1a91f9;
    width: 100px;
}

    .recover_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

.help-block ul {
    margin: 0px;
    list-style-type: none;
    margin-left: -40px;
}