
.help-block ul {
    margin: 0px;
    list-style-type: none;
    margin-left: -40px;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-google {
    background-color: #dd4b39;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}