@{
    ViewBag.Title = "Confirmação";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal de Obrigações | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body class="hold-transition login-page">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                <div class="card-header">
                    <h3>VERIFICAR E-MAIL</h3>
                </div>

                <div class="card-body" style="margin-bottom:-18px">
                    <div class="row align-items-center">
                        <p>Acabamos de enviar instruções para você completar sua redefinição de senha no endereço de e-mail.</p>
                        <p>Se não encontrá-lo na sua caixa de entrada nos próximos minutos, verifique a sua pasta de spam.</p>
                        <p style="color:#ffc107"> Caso não tenha recebido o link valide o usuário e solicite novamente a recuperação de senha.</p>
                    </div>

                    <div class="card-footer">
                        <div align="center">
                            <a href="@Url.Action("Login", "Account")" class="btn btn-link">Voltar</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/css/recovered/page.css" rel="stylesheet" />
</body>
</html>