@{
    ViewBag.EmailTo = "alisonhorac@gmail.com";
    ViewBag.Title = "Erro";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal de Obrigações | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/twitter-bootstrap-new")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/font-awesome-all")
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!
                    </h1>
                    <h2>
                       Ocorreu um Problema.
                    </h2>
                    <div class="error-details">
                        Desculpe, uma inconsistência ocorreu durante o processamento da sua requisição.
                    </div>
                    <div class="error-actions">
                        <a href="@Url.Action("Login", "Account")" class="btn home_btn btn-lg">
                            <span class="fas fa-home"></span>
                            Ir para a Home
                        </a>
                        <a href="mailto:@ViewBag.EmailTo" class="btn mail_btn btn-lg"><span class="fas fa-envelope"></span> Contatar o Suporte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/css/shared/error/page.css" rel="stylesheet" />
</body>
</html>
